<html lang="en">

	<head>
		<meta charset="UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=10">
		<link rel="stylesheet" href="http://img.mobiletrain.org/templates/mobiletrain/css/index2017-base.css">
		<link rel="stylesheet" href="http://img.mobiletrain.org/templates/mobiletrain/css/index2017.css">
	</head>

	<body>
		<!-- 历程 -->
		<div class="con11 base">
			<h2>发展历程<i>再多荣誉，也不及学生的肯定珍贵</i></h2>
			<div class="picScroll">
				<div class="hd con11_btn">
					<a class="next" href="javascript:;">&gt;</a>
					<a class="prev" href="javascript:;">&lt;</a>
				</div>
				<div class="bd con11_list">
					<div class="tempWrap" style="overflow:hidden; position:relative; width:1015px">
						<ul class="picList" style="width: 2320px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -580px;">
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://www.qfedu.com/d/file/lc/fd7e63c280973cdde7941cacbd6f327c.jpg" height="193" width="128" alt="锦旗1">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844724883.jpg" height="193" width="128" alt="锦旗8">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844702879.jpg" height="193" width="128" alt="锦旗7">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844682272.jpg" height="193" width="128" alt="锦旗6">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844664998.jpg" height="193" width="128" alt="锦旗5">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844641835.jpg" height="193" width="128" alt="锦旗4">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844621702.jpg" height="193" width="128" alt="锦旗3">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844604430.jpg" height="193" width="128" alt="锦旗2">
							</li>
							<li style="float: left; width: 128px;">
								<img src="http://www.qfedu.com/d/file/lc/fd7e63c280973cdde7941cacbd6f327c.jpg" height="193" width="128" alt="锦旗1">
							</li>

							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844724883.jpg" height="193" width="128" alt="锦旗8">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844702879.jpg" height="193" width="128" alt="锦旗7">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844682272.jpg" height="193" width="128" alt="锦旗6">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844664998.jpg" height="193" width="128" alt="锦旗5">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844641835.jpg" height="193" width="128" alt="锦旗4">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844621702.jpg" height="193" width="128" alt="锦旗3">
							</li>
							<li class="clone" style="float: left; width: 128px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844604430.jpg" height="193" width="128" alt="锦旗2">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="con11-wf">
				<div class="bd">
					<div class="tempWrap" style="overflow:hidden; position:relative; width:1210px">
						<ul class="picList" style="width: 4114px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -596px;">
							<li class="clone" style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844802650.jpg" height="160" width="215" alt="品牌影响力教育品牌">
								<p>品牌影响力教育品牌</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://www.qfedu.com/d/file/lc-bottom/a8b0a4dbe7f2f6af5ad8c43dad63ad75.jpg" height="160" width="215" alt="2017年度知名IT教育品牌">
								<p>2017年度知名IT教育品牌</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844977459.jpg" height="160" width="215" alt="2017年度信赖职业教育品牌">
								<p>2017年度信赖职业教育品牌</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844959493.jpg" height="160" width="215" alt="中国口碑影响力职业培训机构">
								<p>中国口碑影响力职业培训机构</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844940303.jpg" height="160" width="215" alt="中国行业领先教育集团">
								<p>中国行业领先教育集团</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844923719.jpg" height="160" width="215" alt="年度最受信赖职业教育品牌">
								<p>年度最受信赖职业教育品牌</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844895531.jpg" height="160" width="215" alt="教育管理信息中心指定实训基地">
								<p>教育管理信息中心指定实训基地</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844877718.jpg" height="160" width="215" alt="年度最具品牌知名度职业培训机">
								<p>年度最具品牌知名度职业培训机</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844858431.jpg" height="160" width="215" alt="年度最具影响力IT教育机构">
								<p>年度最具影响力IT教育机构</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844840162.jpg" height="160" width="215" alt="年度中国品牌影响力教育集团">
								<p>年度中国品牌影响力教育集团</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844819980.jpg" height="160" width="215" alt="中国教育集团领先品牌">
								<p>中国教育集团领先品牌</p>
							</li>
							<li style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844802650.jpg" height="160" width="215" alt="品牌影响力教育品牌">
								<p>品牌影响力教育品牌</p>
							</li>

							<li class="clone" style="float: left; width: 214px;">
								<img src="http://www.qfedu.com/d/file/lc-bottom/a8b0a4dbe7f2f6af5ad8c43dad63ad75.jpg" height="160" width="215" alt="2017年度知名IT教育品牌">
								<p>2017年度知名IT教育品牌</p>
							</li>
							<li class="clone" style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844977459.jpg" height="160" width="215" alt="2017年度信赖职业教育品牌">
								<p>2017年度信赖职业教育品牌</p>
							</li>
							<li class="clone" style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844959493.jpg" height="160" width="215" alt="中国口碑影响力职业培训机构">
								<p>中国口碑影响力职业培训机构</p>
							</li>
							<li class="clone" style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844940303.jpg" height="160" width="215" alt="中国行业领先教育集团">
								<p>中国行业领先教育集团</p>
							</li>
							<li class="clone" style="float: left; width: 214px;">
								<img src="http://upload.mobiletrain.org/2018/0509/1525844923719.jpg" height="160" width="215" alt="年度最受信赖职业教育品牌">
								<p>年度最受信赖职业教育品牌</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="http://img.mobiletrain.org/templates/mobiletrain/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://img.mobiletrain.org/templates/mobiletrain/js/index2017.js"></script>



</html>